.profile-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.edit-profile-button {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: #2d53bd;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.edit-profile-button i {
    margin-right: 5px;
}

.profile-details {
    margin-bottom: 20px;
}

.profile-name h2 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 10px;
}

.profile-name p {
    margin: 0;
    color: #888;
    font-size: 1em;
}

.profile-info {
    margin-top: 20px;
    font-size: 1em;
}

.profile-info p {
    margin: 5px 0;
}

.profile-info strong {
    color: #333;
}

.activity-chart-container {
    margin-top: 40px;
}

.error-message {
    color: red;
    margin-top: 20px;
}
