/* Header.css */
.header {
    background-color: #ffffff;
    color: rgb(52, 94, 184);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header-title {
    margin: 0;
    font-size: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 30px;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: rgb(52, 94, 184);
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    color: darkblue;
}
